<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Toutatis - Home</title>
    </head>
    <body>
        <h1 id="Toutatis">Toutatis</h1>
        <p>Hello, Toutatis is a simple webapp that convert the Votes of the European Parliament data taken from <a href="https://parltrack.euwiki.org">parltrack</a> in the <a href="https://github.com/yohanboniface/django-representatives/blob/master/format.json">"representatives-votes" format</a>.</p>

        <p>If you aren't interested in those data and/or aren't using a lib/application that is implementing the "representatives" format, this website won't have a lot of interest for you.</p>

        <h2>API</h2>

        <p>If you want more fingrain access to the dumps and their meta data, you can access all of the via a <a href="http://django-tastypie.readthedocs.org/en/latest/">tastypie</a> API.</p>

        <p>The API is accessible at this url: <a href="http://{{ request.META.HTTP_HOST }}/api/v1/?format=json"><code>http://{{ request.META.HTTP_HOST }}/api/v1/?format=json</code></a></p>
        <h3>Sample usage</h3>
        <dl>
          <dt>Get dossier list</dt>
          <dd>
            <a href="http://{{ request.META.HTTP_HOST }}/api/v1/dossiers/?format=json"><code>http://{{ request.META.HTTP_HOST }}/api/v1/dossiers/?format=json</code></a>
          </dd>

          <dt>Search dossier</dt>
          <dd>
            <a href="http://{{ request.META.HTTP_HOST }}/api/v1/dossiers/?format=json&title__icontains=acta"><code>http://{{ request.META.HTTP_HOST }}/api/v1/dossiers/?format=json&amp;title__icontains=acta</code></a><br>
            <p>You can use <a href="https://docs.djangoproject.com/en/1.7/ref/models/querysets/#field-lookups">django field lookup</a>, on fields : <strong>title, reference</strong></p>
          </dd>
          <dt>Get a dossier</dt>
          <dd>
            <a href="http://{{ request.META.HTTP_HOST }}/api/v1/dossiers/2925?format=json"><code>http://{{ request.META.HTTP_HOST }}/api/v1/dossiers/2925?format=json</code></a>
          </dd>
          <dt>Get proposal list</dt>
          <dd>
            <p>
              <a href="http://{{ request.META.HTTP_HOST }}/api/v1/proposals/?format=json"><code>http://{{ request.META.HTTP_HOST }}/api/v1/proposals/?format=json</code></a>
              <br>
              You can filter results like <strong>dossiers</strong>, on fields : <strong>title, reference, datetime, kind</strong>
          </dd>
          <dd>Get a proposal</dd>
          <dd>
            <a href="http://{{ request.META.HTTP_HOST }}/api/v1/proposals/10647/?format=json"><code>http://{{ request.META.HTTP_HOST }}/api/v1/proposals/10647/?format=json</code></a>
          </dd>
        </dl>
        

        <hr/>

        <p>Toutatis is free software under the aGPLv3+. <a href="">Source code</a></p>

        <p><small><i>Toutatis was a Celtic god worshipped in ancient Gaul and Britain.</i></small></p>
    </body>
</html>
